<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo-app</title>
</head>

<body>

    <nav>
        <button inert (click)="navigate('home')">Home</button>
        <button (click)="navigate('about')">About</button>
    </nav>

    <div id="home" inert class="page active">🏠 Welcome to the Home Page!</div>
    <div id="about" class="page">ℹ️ This is the About Page.</div>

    <details>
        <!-- title of the accordion -->
        <summary>More info</summary>
        <!-- content of the accordion -->
        <p>This is revealed when the details tag is open.</p>
        <button>ok</button>
    </details>
    <details>
        <summary>More info</summary>
        <p>This is revealed when the details tag is open.</p>
    </details>
    <details>
        <summary>More info</summary>
        <p>This is revealed when the details tag is open.</p>
    </details>

<label for="city">Choose a city:</label>
<input list="cities" id="city" name="city" />

<datalist  id="cities">
  <option value="Pune">
  <option value="Punjab">
  <option value="Delhi">
  <option value="Bangalore">
</datalist>




<label for="city">City:</label>
<select id="city">
  <option value="Pune">Pune</option>
  <option value="Mumbai">Mumbai</option>
  <option value="Delhi">Delhi</option>
</select>
<!-- 
<div class="carousel">
  <div class="slide">1</div>
  <div class="slide">2</div>
  <div class="slide">3</div>
</div> -->

<!-- 
<div class="carousel-container">
  <div class="carousel" id="carousel">
    <div class="slide" id="slide1">Slide 1</div>
    <div class="slide" id="slide2">Slide 2</div>
    <div class="slide" id="slide3">Slide 3</div>
  </div>

  <div class="nav-dots">
    <a href="#slide1" aria-label="Go to slide 1">●</a>
    <a href="#slide2" aria-label="Go to slide 2">●</a>
    <a href="#slide3" aria-label="Go to slide 3">●</a>
  </div>
</div> -->

<div class="box">
  <div class="content">This is overflowing content</div>
</div>


</body>

</html>
